<div class='py-5'>
	<h2>Iniciar Sesión</h2>
	<hr class='w-50' />

	<form action="/auth" method="POST">
		<div class='form-group'>
			<div class='form-group'>
				<label>Email</label>
				<input class='form-control w-50 m-auto' name="email" id="email" type="email"/>
			</div>
			<div class='form-group'>
				<label>Password</label>
				<input class='form-control w-50 m-auto' name="password" id="pass" type="password"/>
			</div>
		</div>
		<button class='btn btn-success mb-3' id="btn">Ingresar</button>
		<p>¿Aún no tienes cuenta? <a href='/registro'>Regístrate</a></p>
	</form>
</div>

